<section id="intro" class="color-section">
    <div class="container-fluid main-container">
        <div class="row">

            <div class="col-md-offset-1 col-sm-6 content">
                <h2 class="big-heading text-white">Be organize and stay productive!</h2>
                {{!-- <p class="text-white">You find it!!
                </p>
                <p class="text-white">Don't let the same thing happen to you again!!</p> --}}
            </div>
            <div class="col-md-offset-1 col-sm-6 content">
                <img class="title-img" alt="multiple tabs open" src="/images/internet-browsers-mutiple-tabs-open.jpeg">
                <button class="btn btn-dark btn-lg download-btn" type="button"><a href="#how-it-works">How it
                        works</a></button>
            </div>
        </div>
    </div>
</section>
<section class="white-section" id="info">
    <div class="container-fluid">
        <div class="row">
            <div class="box-info col-lg-4">
                <a href="/allUsers">
                    <i class="far fa-laugh-wink fa-4x icon-info">
                    </i>
                </a>
                <h3 class="info-title">Do you have too many tabs open?</h3>
                <p>Tired of bookmarks?? <br />
                    We have the tool that will help you to meet your goals.</p>
                <p>You're not alone!!</p>
            </div>

            <div class="box-info col-lg-4">
                <a href="/signup">
                    <i class="fas fa-ghost fa-4x icon-info"></i>
                </a>
                <h3 class="info-title">Create your free account..</h3>
                <p>Use it as much as you need it. Would you like a test drive? Check a common board with:</p>
                <p>Username: user <br /> Password: user</p>

            </div>

            <div class="box-info col-lg-4">
                <a href="/login">
                    <i class="fas fa-book-open fa-4x icon-info"></i>
                </a>
                <h3 class="info-title">Organize your way!</h3>
                <p>Create, edit, read and delete your own boards! Label as you prefer and save your posts on your
                    personal
                    account.</p>
                <p>You are now the boss!</p>
            </div>
        </div>
    </div>
</section>

<section class="color-section" id="how-it-works">

    <div class="carousel slide" id="how-it-works-carousel" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <h2 class="how-it-works-text">Copy the link that you want to save for later!</h2><em>First Step</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="how-it-works-text">Login to your account and go to board...</h2>
                <em>Second Step</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="how-it-works-text">Create your Post! Add a title and paste your link!!</h2>
                <em>Third & Final Step</em>
            </div>
            <div class="carousel-item container-fluid">
                <h2 class="how-it-works-text">Voila!! Enjoy it..</h2>
                {{!-- <em>Welcome!!</em> --}}
            </div>
        </div>
        <a class="carousel-control-prev" href="#how-it-works-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#how-it-works-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>

<!-- Footer -->

<footer class="white-section" id="footer">
    <div class="container-fluid">
        <a href="https://github.com/veroca88" target="_blank">
            <i class="icon-info fa-2x fab fa-github-alt"></i>
            <p>© Memento <a href="https://veronicadonoso.info" target="_blank"><strong>by Veronica
                        Donoso.</strong></a></p>
    </div>
</footer>