<section class="color-section">
    <div class="container-fluid main-container">
        <div class="row">

            <div class="col-md-offset-1 col-sm-6 content">
                <p class="text-white">As self-taught, entrepreneur, student, researcher... when you
                    find a good
                    resource, you open a new tab and keep that window open because someday you will need it...
                    and then you have so many open tabs that you start to save it as a bookmark. When finally that
                    day comes, you don't remember that you had saved those good resources... and missed them 🤔
                </p>
                <p class="text-white"><strong>Don't let the same thing happen to you again!!</strong></p>
            </div>
            <div class="col-md-offset-1 col-sm-6 content">
                <img class="title-img" alt="multiple tabs open" src="/images/internet-browsers-mutiple-tabs-open.jpeg">
            </div>
        </div>
    </div>
</section>
<section class="white-section" id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="box-feature col-lg-4">
                <i class="far fa-laugh-wink fa-4x icon-feature"></i>
                <h3 class="feature-title">Do you have many open tabs?</h3>
                <p>Tired of bookmarks??
                    We have the tool that will help you to meet your goals.</p>
            </div>

            <div class="box-feature col-lg-4">
                <i class="fas fa-ghost fa-4x icon-feature"></i>
                <h3 class="feature-title">Create you account free..</h3>
                <p>Use it as much as you need it. Create, edit, read and delete your own boards!</p>

            </div>

            <div class="box-feature col-lg-4">
                <i class="fas fa-book-open fa-4x icon-feature"></i>
                <h3 class="feature-title">Organize your way!</h3>
                <p>Label as you prefer and save the post.</p>
                <p>You are now the boss!</p>
            </div>
        </div>
    </div>
</section>