<h1 class="title-index">Tech Library Helper</h1>

<div class="container ">
    <div class="row">
        <div class="desc-index col-sm-6">Has it ever happened to you (as self-taught dev) when you found a good
            resource
            you open a
            new tab and keep
            that
            window open because someday you will need it... and then you have so many open tabs that you start to
            save
            it as
            a
            bookmark by finally that day arrives and you don't remember that you had saved those good resources...
            🤔 !!
        </div>
        <div class="col-sm-6">
            <img class="img-index title-index" alt="multiple tabs open"
                src="/images/internet-browsers-mutiple-tabs-open.jpeg">
        </div>
    </div>
    <div class="row">
        <div class="text-index col-sm-12">Tech Library Helper is a good example to see and try different ways to
            operate
            and store data.
            You can save any documentation, links of those important resource, give a title to remember
            them.
        </div>
    </div>
</div>