@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #1a1a1a;
}

.nav-bar{
  z-index: 9999;
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  background-color: #3C7C89;
  margin-bottom: 1vh;
}

a {
  color: #00b7ff;
}

h1 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.principal-div {
  margin-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: space-around;
  padding: 10vh 2vw;
}

.flex {
  display: flex;
}

.flex a {
  font-size: large;
  padding-right: 1vw;
}

.flex button {
  cursor: pointer;
  border: none;
}

nav button {
  font-size: inherit;
  font-weight: 500;
  border: none;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.profile-img {
  width: 200px;
  padding: 10px;
}
  
  #profile-pic {
  width: 50px;
  }
 
  .modal.fade {
    z-index: 10000000 !important;
}

.list-group-item {
    border: none;
}

#wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

canvas {
  height:240px !important;
}

.card {
  border: none;
}

.paginate_button {
  padding: 1vw;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}
