html,
:root > div {
  width: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  min-height: auto;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;

}

p {
  color: #8f8f8f;
}

a { 
  color: inherit; 
} 

a:hover { 
  color: inherit; 
  text-decoration: none;
} 

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.color-section {
    background-color: #059184;
    color: #4F4F4F;
}

.white-section {
  background: #fff;
}

.text-white {
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif !important;
}

/* Navigation Bar */

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Logout Button */

.logout-btn {
  background: none!important;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-left: 7%;
}
 .btn {
   margin: 2%;
 }
/* Error message */

.errMessage {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 0%;
  text-align: left;
}

/* Title Image */

.title-img {
  width: 80%;
  text-align: center;
  padding-bottom: 4%;
}

/* Info Section*/

#info {
  position: relative;
}

.info-title {
  font-size: 1.5rem;
}

.box-info {
  padding: 5%;
}

.icon-info {
  color: #46dbb1;
  margin-bottom: 1rem;
  margin: 20px 10px;
}

.icon-info:hover {
  color: #059184;
}

/* how-it-work Section */

#how-it-workss {
  background-color: #ef8172;
  color: #fff;
}

.how-it-works-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.how-it-works-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  background-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .9rem;
}

/* Form */

.form {
  text-align: left;
}

.avatar {
  margin-top: 4%;
}

.form-control {
  height: auto;
}

/* the Team page */

.cards {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card {
  border: 2px solid #059184;
  border-radius: 4px;
  padding: .5rem;
}

/* Board List Section */
.board {
  margin-top: 4%;
}

/* Profile Section */

.delete-acc {
  background: #f02b63;
  color: #fff;
  margin-top: 4%;
}



@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    height: 80%;
    width: inherit;
  }

  .how-it-works-text{
    font-size: 1.5rem;
  }
  
  .card-text {
    font-size: .8rem;
  }

  .mobile-card {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
