@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  color: #1a1a1a; 
  line-height: 1.5;
  /* text-align: center; */
}

a {
  color: #00b7ff; 
}

h1 {
  text-align: center; 
}

.nav-bar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  background-color: #3C7C89;
  margin-bottom: 1vh; 
}
.inline-option {
  display: inline-flex;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; 
}

.principal-div {
  justify-content: space-around;
  padding: 10vh 2vw; 
}

.flex {
  display: flex; 
}

.flex a {
  font-size: large;
  padding-right: 1vw; 
}

.flex button {
  cursor: pointer;
  border: none; 
}

nav button {
  font-size: inherit;
  font-weight: 500;
  border: none;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer; 
}


.list-group-item {
  border: none; 
}

#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; 
}



canvas {
  height: 240px !important; 
}

.card {
  border: none; 
}

.paginate_button {
  padding: 1vw;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline; 
}

.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 10%;
}

.img-index {
  position: relative;
  width: 80%;
  left: 2px;

}

.title-index {
  margin-bottom: 5%;
}

.desc-index {
  margin: auto;
  width: 50%;
  
}

.text-index{
  text-align: center;
}

.list{
  font-size: 20px;
}

.button-orange {
	box-shadow:inset 0px 39px 0px -24px #fff6af;
	background-color:#ffec64;
	border-radius:4px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
  margin: 4% 0%;
}
.button-orange:hover {
	background-color:#ffab23;
}
.button-orange:active {
	position:relative;
	top:1px;
}

.button-silver {
	box-shadow:inset 0px 39px 0px -24px #ffffff;
	background-color:#ededed;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-silver:hover {
	background-color:#dfdfdf;
}
.button-silver:active {
	position:relative;
	top:1px;
}

.card-title{
  padding-bottom: 4% !important;
}

.box-description {
  height: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
}
