<h2>Signup</h2>

<form class="" action="/users/auth/signup-page" method="POST" id="form-container">
  <label for="firstName">Firstname</label>
  <input id="firstName" type="text" name="firstName" placeholder="Fisrtname">

  <label for="lastName">Lastname</label>
  <input id="lastName" type="text" name="lastName" placeholder="Lastname">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="">
    Do you already have an account?
    <a href="users/auth/login-page">Login</a>
  </p>
</form>