<div class="container">
    <h3 class="text-center">Available Posts</h3>

    <a class="button-orange" href="/board-input">Create a Post!!</a>
    <br>

    <ul>
        {{#each boards}}
        <li> <a class="list" href="/boards/{{ this._id }}"> {{ this.title }}</a>
            <form class="form-signin" action="/boards/{{this._id}}/delete" method="post">
                <button class="button-silver" type="submit">Delete</button>
            </form>
        </li>
        {{/each}}
    </ul>
</div>